@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lustucrust";
  src: url("../fonts/lustucrust.otf") format("opentype");
}

@font-face {
  font-family: "Digitale";
  src: url("../fonts/digitale.otf") format("opentype");
}
